body {
    /* border: 9px solid black; */
    margin: 20px 50px;
    padding: 5px;
    background-color: hsl(207deg 26% 93%);
}

.container {
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 400px;
    height: 500px;
}

.house {
    width: 400px;
    height: auto;
    position: relative;
    /* border-radius: 10px; */

}

button {
    position: absolute;
    left: 450px;
    top: 50px;
}

.house-age {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: hsl(0, 0%, 22%);
    font-size: small;
    margin: 5px 5px;
    padding: 5px 5px;
}

.price {
    font-family: Verdana, sans-serif;
    font-size: x-large;
    margin: 0px 5px;
    padding: 0px 5px;
}

.address {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(93, 93, 93);
    margin: 5px 5px;
    padding: 5px 5px;
}

hr {
    height: 1px;
    background-color: hsl(207deg 26% 93%);
    border: none;
}

.house-details {
    padding: 4px 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    /* border: 2px solid black; */
}

label {
    margin-top: 0px 30px;
    /* border: 2px solid black; */
    padding-top: 20px;
    position: relative;
    top: -10px;
    padding-left: 5px;
}

.num {
    font-weight: bolder;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.word {
    color: gray;
    font-weight: lighter;
    font-family: 'Arial Narrow Bold', sans-serif;
}

#bed {
    height: 30px;
    width: 30px;
}

#shower {
    height: 30px;
    width: 30px;
}

h1 {
    color: hsl(209deg 12% 54%);
    font-size: 9pt;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 5px 5px;
    padding: 10px 5px;
}

.contact-info {
    background-color: hsl(218deg 31% 98%);
    position: relative;
    top: -8px;
        /* border: 2px solid black; */
    height: 90px;

}

.realtor-info {
    display: grid;
    grid-template-columns: 12% 88%;
    position: relative;
    top: -20px;
        /* border: 2px solid black; */

}
#picOfperson {
    margin: 7px 7px;
    padding: 5px 5px;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    position: relative;
    top: 5px;
    /* border: 2px solid black; */

}
.nameOfRealtor {
    font-weight: bolder;
    font-size: 11pt;
    font-family: 'Arial Narrow Bold', sans-serif;
    /* border: 2px solid black; */

}
.phone-number {
    color: gray;
    font-size: 11pt;
    font-family: 'Arial Narrow Bold', sans-serif;
    /* border: 2px solid black; */

}

.info {
    position: relative;
    margin: 7px 7px;
    padding: 20px 10px;
    /* border: 2px solid black; */

}